In [43]:
import pandas as pd
df=pd.read_csv("athlete_events.csv")
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Simple Aleatory Sampling
Cada atleta té un ID únic, genera n nº aleatoris entre 1 i el nº d'atletes, i selecciona aquells que coincideix amb l'ID

In [44]:
def SAS(n,df): #n és el tamany de la mostra
    import random
    import pandas as pd
    df_agrupat=df.groupby('ID')
    N=df_agrupat.ngroups
    llista=[]
    sample={}
    for i in range(n):
        llista.append(random.randint(1, N))
    llista.sort()
    for key, item in df_agrupat:
        if key in llista:
            sample[key]=item
    return sample

S'obté un diccionari amb key: ID del atleta, i value: Dataframe de totes les vegades que ha participat en els jocs olímpics

In [45]:
diccionari_samples=SAS(5,df)

In [50]:
for i in diccionari_samples:
    print(i)
    print(diccionari_samples[i])
    print('\n\n')

15271
          ID           Name Sex   Age  Height  Weight    Team  NOC  \
29565  15271  Claude Brodin   M  26.0   169.0    62.0  France  FRA
29566  15271  Claude Brodin   M  30.0   169.0    62.0  France  FRA

             Games  Year  Season   City    Sport                     Event  \
29565  1960 Summer  1960  Summer   Roma  Fencing  Fencing Men's epee, Team
29566  1964 Summer  1964  Summer  Tokyo  Fencing  Fencing Men's epee, Team

        Medal
29565     NaN
29566  Bronze



16378
          ID                   Name Sex   Age  Height  Weight     Team  NOC  \
31877  16378  Alfred "Alfie" Buller   M  38.0     NaN     NaN  Ireland  IRL

             Games  Year  Season     City          Sport  \
31877  1996 Summer  1996  Summer  Atlanta  Equestrianism

                                           Event Medal
31877  Equestrianism Mixed Three-Day Event, Team   NaN



49805
          ID               Name Sex   Age  Height  Weight  \
98408  49805  Harvey Noble Hook   M  52.0     NaN     NaN

                                 Team  NOC        Games  Year  Season  \
98408  United States Virgin Islands-2  ISV  1988 Winter  1988  Winter

          City      Sport                Event Medal
98408  Calgary  Bobsleigh  Bobsleigh Men's Two   NaN



71357
           ID                          Name Sex   Age  Height  Weight  Team  \
142249  71357  Federico "Fico" Lpez Carviso   M  30.0     NaN     NaN  Cuba
142250  71357  Federico "Fico" Lpez Carviso   M  34.0     NaN     NaN  Cuba

        NOC        Games  Year  Season      City       Sport  \
142249  CUB  1948 Summer  1948  Summer    London  Basketball
142250  CUB  1952 Summer  1952  Summer  Helsinki  Basketball

                              Event Medal
142249  Basketball Men's Basketball   NaN
142250  Basketball Men's Basketball   NaN



99522
           ID                    Name Sex   Age  Height  Weight  \
198208  99522  Patrick Nathaniel Reed   M  25.0   183.0    91.0

                 Team  NOC        Games  Year  Season            City Sport  \
198208  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro  Golf

                        Event Medal
198208  Golf Men's Individual   NaN

# Systematic Sampling

In [52]:
def SS(n,df): #n és sample size
    import pandas as pd
    import math
    df_agrupat=df.groupby('ID')
    N=df_agrupat.ngroups
    num_mostres=math.floor(N/n) #S'arrodoneix cap abaix per si hi ha decimals, si s'arrodoneix cap amunt podria no agafar-se el sample size indicat
    llista=[]
    sample={}
    for i in range(num_mostres,N+1,num_mostres):
        llista.append(i)
    for key, value in df_agrupat:
        if key in llista:
            sample[key]=value
    return sample

In [53]:
diccionari_samples2=SS(6,df)

In [54]:
for i in diccionari_samples2:
    print(diccionari_samples2[i])
    print('\n\n')

          ID                     Name Sex   Age  Height  Weight         Team  \
43836  22595  Josephine "Jos" Compaan   F  22.0   179.0    65.0  Netherlands
43837  22595  Josephine "Jos" Compaan   F  26.0   179.0    65.0  Netherlands
43838  22595  Josephine "Jos" Compaan   F  30.0   179.0    65.0  Netherlands

       NOC        Games  Year  Season         City   Sport  \
43836  NED  1980 Summer  1980  Summer       Moskva  Rowing
43837  NED  1984 Summer  1984  Summer  Los Angeles  Rowing
43838  NED  1988 Summer  1988  Summer        Seoul  Rowing

                                       Event Medal
43836  Rowing Women's Coxed Quadruple Sculls   NaN
43837           Rowing Women's Single Sculls   NaN
43838        Rowing Women's Quadruple Sculls   NaN



          ID                  Name Sex   Age  Height  Weight     Team  NOC  \
89149  45190  Pentti Olavi Hmlinen   M  22.0   165.0    54.5  Finland  FIN
89150  45190  Pentti Olavi Hmlinen   M  26.0   165.0    54.5  Finland  FIN

             Games  Year  Season       City   Sport  \
89149  1952 Summer  1952  Summer   Helsinki  Boxing
89150  1956 Summer  1956  Summer  Melbourne  Boxing

                            Event   Medal
89149   Boxing Men's Bantamweight    Gold
89150  Boxing Men's Featherweight  Bronze



           ID       Name Sex   Age  Height  Weight         Team  NOC  \
134714  67785  Lee Bo-Ra   F  19.0   167.0    55.0  South Korea  KOR
134715  67785  Lee Bo-Ra   F  19.0   167.0    55.0  South Korea  KOR
134716  67785  Lee Bo-Ra   F  23.0   167.0    55.0  South Korea  KOR
134717  67785  Lee Bo-Ra   F  27.0   167.0    55.0  South Korea  KOR
134718  67785  Lee Bo-Ra   F  27.0   167.0    55.0  South Korea  KOR

              Games  Year  Season       City          Sport  \
134714  2006 Winter  2006  Winter     Torino  Speed Skating
134715  2006 Winter  2006  Winter     Torino  Speed Skating
134716  2010 Winter  2010  Winter  Vancouver  Speed Skating
134717  2014 Winter  2014  Winter      Sochi  Speed Skating
134718  2014 Winter  2014  Winter      Sochi  Speed Skating

                                     Event Medal
134714    Speed Skating Women's 500 metres   NaN
134715  Speed Skating Women's 1,000 metres   NaN
134716    Speed Skating Women's 500 metres   NaN
134717    Speed Skating Women's 500 metres   NaN
134718  Speed Skating Women's 1,000 metres   NaN



           ID            Name Sex   Age  Height  Weight   Team  NOC  \
179829  90380  Cristina Pabst   F  20.0   167.0    68.0  Italy  ITA

              Games  Year  Season      City Sport                 Event Medal
179829  1968 Winter  1968  Winter  Grenoble  Luge  Luge Women's Singles   NaN



            ID                                   Name Sex   Age  Height  \
224894  112975  Jean de Dieu Soloniaina Razanadrakoto   M  34.0   167.0

        Weight        Team  NOC        Games  Year  Season     City   Sport  \
224894    60.0  Madagascar  MAD  2008 Summer  2008  Summer  Beijing  Boxing

                           Event Medal
224894  Boxing Men's Lightweight   NaN



            ID      Name Sex   Age  Height  Weight    Team  NOC        Games  \
271112  135570  Piotr ya   M  27.0   176.0    59.0  Poland  POL  2014 Winter
271113  135570  Piotr ya   M  27.0   176.0    59.0  Poland  POL  2014 Winter

        Year  Season   City        Sport  \
271112  2014  Winter  Sochi  Ski Jumping
271113  2014  Winter  Sochi  Ski Jumping

                                           Event Medal
271112  Ski Jumping Men's Large Hill, Individual   NaN
271113        Ski Jumping Men's Large Hill, Team   NaN

# Stratified Sampling
Primer separar els estrats, i assignar nous IDs

In [55]:
df_sexe=df.groupby('Sex')

gb_estacio=df.groupby('Season')

df_hivern=pd.DataFrame(gb_estacio.get_group('Winter'))
df_hivern['ID'] = df_hivern.groupby('ID').ngroup()+1
gb_hivern=df_hivern.reset_index(drop=True).groupby('ID')

df_estiu=pd.DataFrame(gb_estacio.get_group('Summer'))
df_estiu['ID'] = df_estiu.groupby('ID').ngroup()+1
gb_estiu=df_estiu.reset_index(drop=True).groupby('ID')


print(gb_estacio.size())
print(gb_hivern.get_group(1))
print(gb_estiu.get_group(1))

Season
Summer    222552
Winter     48564
dtype: int64
   ID                      Name Sex   Age  Height  Weight         Team  NOC  \
0   1  Christine Jacoba Aaftink   F  21.0   185.0    82.0  Netherlands  NED
1   1  Christine Jacoba Aaftink   F  21.0   185.0    82.0  Netherlands  NED
2   1  Christine Jacoba Aaftink   F  25.0   185.0    82.0  Netherlands  NED
3   1  Christine Jacoba Aaftink   F  25.0   185.0    82.0  Netherlands  NED
4   1  Christine Jacoba Aaftink   F  27.0   185.0    82.0  Netherlands  NED
5   1  Christine Jacoba Aaftink   F  27.0   185.0    82.0  Netherlands  NED

         Games  Year  Season         City          Sport  \
0  1988 Winter  1988  Winter      Calgary  Speed Skating
1  1988 Winter  1988  Winter      Calgary  Speed Skating
2  1992 Winter  1992  Winter  Albertville  Speed Skating
3  1992 Winter  1992  Winter  Albertville  Speed Skating
4  1994 Winter  1994  Winter  Lillehammer  Speed Skating
5  1994 Winter  1994  Winter  Lillehammer  Speed Skating

                                Event Medal
0    Speed Skating Women's 500 metres   NaN
1  Speed Skating Women's 1,000 metres   NaN
2    Speed Skating Women's 500 metres   NaN
3  Speed Skating Women's 1,000 metres   NaN
4    Speed Skating Women's 500 metres   NaN
5  Speed Skating Women's 1,000 metres   NaN
   ID       Name Sex   Age  Height  Weight   Team  NOC        Games  Year  \
0   1  A Dijiang   M  24.0   180.0    80.0  China  CHN  1992 Summer  1992

   Season       City       Sport                        Event Medal
0  Summer  Barcelona  Basketball  Basketball Men's Basketball   NaN

2n utilitzar el Simple Aleatory Sampling per cada estrat per seleccionar les mostres (n mostres en cada estrat)

In [56]:
diccionari_samples_hivern=SAS(3,df_hivern)
diccionari_samples_estiu=SAS(3,df_estiu)

In [58]:
print('HIVERN')
for i in diccionari_samples_hivern:
    print(diccionari_samples_hivern[i])
    print('\n\n')
    
print('ESTIU')
for i in diccionari_samples_estiu:
    print(diccionari_samples_estiu[i])
    print('\n\n')

HIVERN
         ID             Name Sex   Age  Height  Weight         Team  NOC  \
80183  5189  Arend Dirk Glas   M  33.0   190.0   102.0  Netherlands  NED
80184  5189  Arend Dirk Glas   M  33.0   190.0   102.0  Netherlands  NED
80185  5189  Arend Dirk Glas   M  37.0   190.0   102.0  Netherlands  NED
80186  5189  Arend Dirk Glas   M  37.0   190.0   102.0  Netherlands  NED

             Games  Year  Season            City      Sport  \
80183  2002 Winter  2002  Winter  Salt Lake City  Bobsleigh
80184  2002 Winter  2002  Winter  Salt Lake City  Bobsleigh
80185  2006 Winter  2006  Winter          Torino  Bobsleigh
80186  2006 Winter  2006  Winter          Torino  Bobsleigh

                      Event Medal
80183   Bobsleigh Men's Two   NaN
80184  Bobsleigh Men's Four   NaN
80185   Bobsleigh Men's Two   NaN
80186  Bobsleigh Men's Four   NaN



           ID                Name Sex   Age  Height  Weight     Team  NOC  \
166004  11417  Alexandra Munteanu   F  22.0   161.0    53.0  Romania  ROU
166005  11417  Alexandra Munteanu   F  22.0   161.0    53.0  Romania  ROU
166006  11417  Alexandra Munteanu   F  22.0   161.0    53.0  Romania  ROU
166007  11417  Alexandra Munteanu   F  22.0   161.0    53.0  Romania  ROU

              Games  Year  Season            City          Sport  \
166004  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
166005  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
166006  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
166007  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing

                                     Event Medal
166004      Alpine Skiing Women's Downhill   NaN
166005       Alpine Skiing Women's Super G   NaN
166006  Alpine Skiing Women's Giant Slalom   NaN
166007      Alpine Skiing Women's Combined   NaN



           ID                      Name Sex   Age  Height  Weight     Team  \
234075  16433  Ferenc Szamosi (Sztoics)   M  20.0     NaN     NaN  Hungary

        NOC        Games  Year  Season                    City       Sport  \
234075  HUN  1936 Winter  1936  Winter  Garmisch-Partenkirchen  Ice Hockey

                              Event Medal
234075  Ice Hockey Men's Ice Hockey   NaN



ESTIU
          ID                    Name Sex   Age  Height  Weight   Team  NOC  \
35073  15802  Manuel Fabrizio Cappai   M  19.0   168.0    49.0  Italy  ITA
35074  15802  Manuel Fabrizio Cappai   M  23.0   168.0    49.0  Italy  ITA

             Games  Year  Season            City   Sport  \
35073  2012 Summer  2012  Summer          London  Boxing
35074  2016 Summer  2016  Summer  Rio de Janeiro  Boxing

                              Event Medal
35073  Boxing Men's Light-Flyweight   NaN
35074  Boxing Men's Light-Flyweight   NaN



          ID           Name Sex   Age  Height  Weight    Team  NOC  \
54931  24740  Soriba Diakit   M  23.0   178.0    78.0  Guinea  GUI
54932  24740  Soriba Diakit   M  23.0   178.0    78.0  Guinea  GUI

             Games  Year  Season       City      Sport  \
54931  1992 Summer  1992  Summer  Barcelona  Athletics
54932  1992 Summer  1992  Summer  Barcelona  Athletics

                            Event Medal
54931  Athletics Men's 100 metres   NaN
54932   Athletics Men's Long Jump   NaN



           ID             Name Sex   Age  Height  Weight        Team  NOC  \
190259  82549  Zagorka Poekovi   F  19.0   191.0    78.0  Yugoslavia  YUG

              Games  Year  Season         City       Sport  \
190259  1984 Summer  1984  Summer  Los Angeles  Basketball

                                Event Medal
190259  Basketball Women's Basketball   NaN

# Reservoir sampling

In [59]:
def reservoir(df,n):
    import pandas as pd
    import random
    stream= df.groupby('ID')
    reservoir=[]
    stream.get_group(1)
    N=len(stream)
    for x in range(1,n+1):
        reservoir.append(stream.get_group(x))    
    for i in range(n+2,N):
        j = random.randrange(0,i+1)
        if(j < n):
            reservoir[j]=stream.get_group(i)
    return reservoir

In [62]:
reservoir_samples=reservoir(df,3)

In [63]:
for i in reservoir_samples:
    print(i)

          ID           Name Sex   Age  Height  Weight         Team  NOC  \
23169  12185  Robert Blaser   M  24.0   173.0    74.0  Switzerland  SUI
23170  12185  Robert Blaser   M  24.0   173.0    74.0  Switzerland  SUI

             Games  Year  Season    City      Sport  \
23169  1972 Summer  1972  Summer  Munich  Wrestling
23170  1972 Summer  1972  Summer  Munich  Wrestling

                                           Event Medal
23169  Wrestling Men's Welterweight, Greco-Roman   NaN
23170    Wrestling Men's Welterweight, Freestyle   NaN
            ID                  Name Sex   Age  Height  Weight         Team  \
230156  115538  Rebekah Ashley Stott   F  23.0   172.0    70.0  New Zealand

        NOC        Games  Year  Season            City     Sport  \
230156  NZL  2016 Summer  2016  Summer  Rio de Janeiro  Football

                            Event Medal
230156  Football Women's Football   NaN
          ID                 Name Sex   Age  Height  Weight    Team  NOC  \
79826  40533  Patricia Girard-Lno   F  20.0   164.0    51.0  France  FRA
79827  40533  Patricia Girard-Lno   F  20.0   164.0    51.0  France  FRA
79828  40533  Patricia Girard-Lno   F  24.0   164.0    51.0  France  FRA
79829  40533  Patricia Girard-Lno   F  24.0   164.0    51.0  France  FRA
79830  40533  Patricia Girard-Lno   F  28.0   164.0    51.0  France  FRA
79831  40533  Patricia Girard-Lno   F  28.0   164.0    51.0  France  FRA
79832  40533  Patricia Girard-Lno   F  32.0   164.0    51.0  France  FRA

             Games  Year  Season       City      Sport  \
79826  1988 Summer  1988  Summer      Seoul  Athletics
79827  1988 Summer  1988  Summer      Seoul  Athletics
79828  1992 Summer  1992  Summer  Barcelona  Athletics
79829  1992 Summer  1992  Summer  Barcelona  Athletics
79830  1996 Summer  1996  Summer    Atlanta  Athletics
79831  1996 Summer  1996  Summer    Atlanta  Athletics
79832  2000 Summer  2000  Summer     Sydney  Athletics

                                        Event   Medal
79826            Athletics Women's 100 metres     NaN
79827  Athletics Women's 4 x 100 metres Relay     NaN
79828            Athletics Women's 100 metres     NaN
79829  Athletics Women's 4 x 100 metres Relay     NaN
79830    Athletics Women's 100 metres Hurdles  Bronze
79831  Athletics Women's 4 x 100 metres Relay     NaN
79832    Athletics Women's 100 metres Hurdles     NaN